<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.coder.shamo.provider"/>
    <context:annotation-config/>

    <bean class="com.coder.shamo.rpc.proxy.ProviderProxyFactory">
        <constructor-arg name="providers">
            <map key-type="java.lang.Class" value-type="java.lang.Object">
                <entry key="com.coder.shamo.api.UserService" value-ref="userService"/>
            </map>
        </constructor-arg>
        <constructor-arg name="providerConfig">
            <bean id="providerConfig" class="com.coder.shamo.rpc.invoke.ProviderConfig">
                <property name="port" value="8888"/>
                <property name="target" value="/invoke"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>